div {
border-style: solid;
border-size: 1px;
border-radius: 12px;
border-color: #c8ccd1;
background-color: #f8f9fa;

padding-top: 32px;
padding-bottom: 32px;
padding-left: 24px;
padding-right: 24px;

margin: 20px;

font-family: 'Times New Roman',serif;
}
h1 {
margin: 0;
}
p {
margin: 0;
}